$background: #f9f7f7;
$liteGreen: #e1ffa0;
$darkGreen: #164038;
$stroke: #dde3eb;
$signature: #abb1c5;
$red: #f38181;

@import '____initialStyle';
@import '__fonts';
@import '__generalElements';
@import '__gotham-font';
@import '__vela-font';
